.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  height: 150px;
  width: 200px;
  padding: 20px;
  margin: 5px;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-heading {
  font-weight: bold;
  font-size: 22px;
}

.item-button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.item-para {
  font-size: 16px;
  color: #8b5cf6;
}
